.nav {
    background-color: #333;
    color: white;
    display: flex;
}

.nav-btn {
    padding: 1rem;
    width: 50%;
    text-align: center;
}

.nav-active {
    padding: 1rem;
    width: 50%;
    text-align: center;
    background-color: #191970;
}
  
.nav a {
    color: white;
    text-decoration: none;
}